extends layout

block content 
    .container
      h2.mt-3.mb-3 Deposit
      h5.text-right My Wallet: 
        strong P#{user.balance}
      hr
      .row.mt-6
        .col-lg-3
        .col-lg-6
          != messages('message', locals)
          form(action="/deposit/add/"+user.id, method="post")
            .form-group
              label(for="") Amount to Deposit:
              input.form-control(type="number", name="amount" min="" max="" required)
            .form-group
              label(for="") Enter Your Password to Confirm:
              input.form-control(type="password", name="password" required)
            .form-group
              button.btn.btn-success.mr-2(type="submit") Confirm
        .col-lg-3      
        