extends layout

block content 
    .container
      h2.mt-3.mb-3 Dashboard
      h5.text-right My Wallet: 
        strong P#{user.balance}
      hr
      != messages('message', locals)
      .row.mt-3
        .col-lg-4.col-sm-4
          .card.text-white.bg-primary.mb-3(style='max-width: 20rem;')
            .card-body
              h4.card-title Fund Transfer
              p.card-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
              a.btn.btn-primary.btn-block.border-light(href="/fundtransfer") Go to Fund Transfer
        .col-lg-4.col-sm-4
          .card.text-white.bg-success.mb-3(style='max-width: 20rem;')
            .card-body
              h4.card-title Check Balance
              p.card-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
              a.btn.btn-success.btn-block.border-light(href="/checkbalance") Go to Check Balance
        .col-lg-4.col-sm-4
          .card.text-white.bg-warning.mb-3(style='max-width: 20rem;')
            .card-body
              h4.card-title Deposit
              p.card-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
              a.btn.btn-warning.btn-block.border-light(href="/deposit") Go to Deposit
        .col-lg-4.col-sm-4
          .card.text-white.bg-info.mb-3(style='max-width: 20rem;')
            .card-body
              h4.card-title Withdraw
              p.card-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
              a.btn.btn-info.btn-block.border-light(href="/withdraw") Go to Withdraw
        .col-lg-4.col-sm-4
          .card.text-white.bg-danger.mb-3(style='max-width: 20rem;')
            .card-body
              h4.card-title Bills Payment
              p.card-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
              a.btn.btn-danger.btn-block.border-light(href="/billspayment") Go to Bills Payment
        .col-lg-4.col-sm-4
          .card.text-white.bg-dark.mb-3(style='max-width: 20rem;')
            .card-body
              h4.card-title Transaction History
              p.card-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
              a.btn.btn-dark.btn-block.border-light(href="/transactionhistory/") Go to Transaction History
    script(src="form-config.js")
        